*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width : 100%;
    height: 100vh;
    background-color: rgb(185, 207, 227);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

@media screen and (max-width: 490px){
    .container{
        width: 100%;
        height: auto;
      }
      .container>h1{
        color: #105e5e;
        font-size: 35px!important ;
        margin: 20px 0px;
      }
    
    
    .box{
      width: 100%;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  .animation,.calculator{
      width:100%!important;
      padding: 0!important;
      display: flex!important;
      justify-content: center!important;
  }



  .display>input{
    font-size: 35px;
  }
  form input{
    border: 0;
    outline: 0;
    width: 45px!important;
    height: 45px!important;
    font-size: 15px!important;
    font-weight: 550!important;
    color: antiquewhite;
    margin: 7px!important;
    border-radius: 10px!important;
    background: rgb(64, 64, 64);
    /* background: linear-gradient(90deg, rgba(77,77,77,1) 0%, rgba(77,77,77,1) 48%, rgba(0,0,0,1) 96%); */
    box-shadow: 3px 3px 3px rgb(161, 159, 159) ,-3px -3px 3px black;
}

.calcbody{
    margin:30px 0!important ;
}
}

@media screen and (max-width: 1000px) and (min-width:490px) {

  .container{
    width: 100%;
    height: auto;
  }

  .container>h1{
    color: #105e5e;
    font-size: 35px!important ;
    margin: 20px 0px;
  }
  .box{
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.animation,.calculator{
    width:100%!important;
    padding: 0!important;
    display: flex!important;
    justify-content: center!important;
}
.animation>img{
    height:200px;
    animation-name: hurray;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
}

.calcbody{
    margin: 30px 0;
}

  }

.container>h1{
    
    padding: 20px 0;
    font-family: 'Reggae One', cursive;
    font-size: 70px;
    text-transform: uppercase;
    background: -webkit-linear-gradient(rgb(1, 147, 164), rgb(1, 43, 41));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
   
}
.box{
    display: flex;
    width:80%;
    /* height: 100%; */
    justify-content: center;
}

.animation,.calculator{
    width:50%;
    height: 100%;
}

.animation{
    display: flex;
    /* overflow: hidden; */
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.animation>img{
    height:400px;
    animation-name: hurray;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  
}
@keyframes hurray{
    from{
        transform: translateY(-2%);
    }
    to{
        transform: translateY(0%);
    }
}
.calculator{
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    /* overflow: hidden; */
    
}

.calcbody{
    padding: 10px;
    background-color: rgb(64, 64, 64);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(96, 95, 95),-5px -5px 5px rgb(14, 13, 13);
}

.display{
    display: flex;
    justify-content: flex-end;
    margin:20px 0;
}

.display>input{
    text-align: right;
    flex: 1;
    padding: 5px;
    font-size: 45px;
    box-shadow: none;
    text-shadow: 1.5px 1.5px 2px rgba(255, 255, 255, 0.607), -1.5px -1.5px 2px rgba(0, 0, 0, 0.726);
    box-shadow:5px 5px 5px rgb(96, 95, 95) ,-5px -5px 5px rgb(96, 95, 95),-5px 5px 5px rgb(96, 95, 95) ,5px -5px 5px rgb(96, 95, 95);
    /* background-color: white;
    color: black; */

    
}

form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 600;
    color: antiquewhite;
    margin: 10px;
    border-radius: 10px;
    background: rgb(64, 64, 64);
    /* background: linear-gradient(90deg, rgba(77,77,77,1) 0%, rgba(77,77,77,1) 48%, rgba(0,0,0,1) 96%); */
    box-shadow: 3px 3px 3px rgb(161, 159, 159) ,-3px -3px 3px black;
}